# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Temporary files
tmp/
temp/

# Misc
.DS_Store
Thumbs.db

# npm-debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
